/* Experiences & Guide*/

.experiences__container,
.guide__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 3em 5em;
}

.experiences__wrap {
    position: relative;
    width: 30%;
}

.guide__wrap {
    width: 20%;
}

.guide__header--main {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    padding: 0.25em 1em;
}

.experiences__img,
.guide__img {
    border-radius: 20px;
    margin-bottom: 0.8em;
    width: 100%;
}

.experiences__img {
    max-width: 600px;
}

.guide__img {
    max-width: 400px;
}

.experiences__header,
.guide__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experiences__title,
.guide__title {
    font-size: 1.25rem;
}

.experiences__tour,
.guide__tour {
    font-weight: 300;
    font-size: smaller;
    color: darkgray;
}

.experiences__desc,
.guide__desc {
    margin-top: 1em;
    font-weight: 300;
    font-size: 0.9rem;
}

.experiences__desc::selection,
.guide__desc::selection {
    background: var(--clr-aqua);
}