/* Root Styles */

:root {
  --primary: #23232e;
  --iceland: #33f5e0;
}

/* Default setting reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  line-height: 1.5;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 1;
}

button {
  border: none;
  cursor: pointer;
}

/* Nav */
nav {
  position: absolute;
  color: #fff;
  right: 0;
  padding: 2em;
}

.nav__list {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 1em;
}

.btn {
  border-radius: 100px;
  background: var(--iceland);
  font-size: inherit;
}

.btn__signup {
  font-family: inherit;
  font-weight: 500;
  color: var(--primary);
  padding: 0.5em 1.5em;
}

.cta {
  font-size: 0.9rem;
  padding: 0.75em 1.5em;
}

.btn:hover,
.nav__item:hover {
  opacity: 0.8;
}

.cta:hover {
  box-shadow: 0 0 10px lightgrey;
  opacity: 0.9;
}

/* Hero */
#hero {
  background-image: url("images/iceland-the-northern-lights.png");
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-size: 4rem;
}

.hero__desc {
  font-weight: 400;
  margin-bottom: 1.25em;
}

.search {
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  padding: 0.75em 1.5em;
}

input {
  outline: none;
}

input::placeholder {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

/* Experiences & Guide*/

.experiences__container,
.guide__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 5em;
}

.experiences__wrap {
  position: relative;
  width: 30%;
}

.guide__wrap {
  width: 20%;
}

.guide__header--main {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  padding: 0.25em 1em;
}

.experiences__img,
.guide__img {
  border-radius: 20px;
  margin-bottom: 0.8em;
  width: 100%;
}

.experiences__img {
  max-width: 600px;
}

.guide__img {
  max-width: 400px;
}

.experiences__header,
.guide__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experiences__title,
.guide__title {
  font-size: 1.25rem;
}

.experiences__tour,
.guide__tour {
  font-weight: 300;
  font-size: smaller;
  color: darkgray;
}

.experiences__desc,
.guide__desc {
  margin-top: 1em;
  font-weight: 300;
  font-size: 0.9rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background: var(--iceland);
  align-items: center;
  font-size: 0.8rem;
  margin-top: 3em;
  padding: 5em;
}

/* ****************************** Mobile ****************************** */

@media only screen and (max-width: 500px) {
  nav {
    padding: 1em;
  }

  .nav__list {
    font-size: 1rem;
  }

  .cta {
    font-size: 0.8rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__desc {
    font-size: 1rem;
  }

  .search {
    font-size: 1rem;
  }

  input::placeholder {
    font-size: 1rem;
  }

  .experiences__container,
  .guide__container {
    flex-direction: column;
    padding: 2em;
  }

  .experiences__wrap {
    position: relative;
    width: 100%;
  }

  .guide__wrap {
    width: 100%;
  }
}
