/* Root Styles */

:root {
  --primary: #23232e;
  --iceland: #33f5e0;
}

/* Universal setting reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  line-height: 1.5;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 1;
}

button,
.cta {
  background: var(--iceland);
  color: var(--primary);
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  cursor: pointer;
}

.cta {
  font-size: .9rem;
  padding: 0.75em 1.5em;
}

/* Nav */
nav {
  position: absolute;
  color: #fff;
  right: 0;
  padding: 2em;
}

.nav__list {
  display: flex;
  align-items: center;
  font-size: 1.15em;
  gap: 20px;
}

.nav__item {
  cursor: pointer;
  outline: #fff;
}

.btn__signup:hover,
.nav__item:hover,
.cta:hover {
  opacity: 0.8;
}

/* Hero */
#hero {
  background-image: url("images/iceland-the-northern-lights.png");
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.hero__title {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero__desc {
  font-weight: 400;
  margin-bottom: 20px;
}

.search {
  padding: 15px 30px;
  border-radius: 100px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: gray;
}

input {
  outline: none;
}

input::placeholder {
  font-size: 20px;
  font-weight: 500;
}

/* Experiences & Guide*/

#experiences,
#guide {
  padding: 3em;
}

.guide__header--main {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.experiences__container,
.guide__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px;
}

.experiences__wrap {
  position: relative;
  width: 30%;
}

.guide__wrap {
  width: 20%;
}

.experiences__img,
.guide__img {
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.experiences__img {
  max-width: 600px;
}

.guide__img {
  max-width: 400px;
}

.experiences__img:hover,
.guide__img:hover {
  opacity: 0.8;
}

.experiences__body--wrap,
.guide__body--wrap {
  padding: 0 1em 1em;
}

.experiences__header,
.guide__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experiences__title,
.guide__title {
  font-size: 1.25rem;
}

.experiences__tour,
.guide__tour {
  font-weight: 300;
  font-size: smaller;
  color: darkgray;
}

.experiences__desc,
.guide__desc {
  margin-top: 1em;
  font-weight: 300;
  font-size: 0.9rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background: var(--iceland);
  align-items: center;
  font-size: 12px;
  padding: 5em;
}
